<mat-card class="halfWidth">
<mat-card-title>
<span *ngIf="activity.activityId">Edit Activity</span>
<span *ngIf="!activity.activityId">New Activity</span>
</mat-card-title>
  <mat-card-content>
  <form>
    <mat-form-field class="fullWidth">
      <mat-label>Activity Name</mat-label>
      <input [(ngModel)]="activity.activityName" name="activityName" matInput >
    </mat-form-field>
    <br>
    <mat-form-field class="fullWidth">
      <mat-label>Activity Type</mat-label>
      <input [(ngModel)]="activity.activityType" name="activityType" matInput >
    </mat-form-field>
    <br>

    <mat-form-field class="fullWidth">
      <mat-label>Scheduled Date</mat-label>
      <input [(ngModel)]="activity.scheduledDate" name="scheduledDate"  matInput >
    </mat-form-field>
    <br>
    <mat-form-field class="fullWidth">
      <mat-label>Street Name</mat-label>
      <input [(ngModel)]="activity.streetName" name="streetName" matInput >
    </mat-form-field>
    <br>

    <mat-form-field class="fullWidth">
      <mat-label>Alternative Street</mat-label>
      <input [(ngModel)]="activity.alternativeStreet" name="alternateStreet" matInput >
    </mat-form-field>
    <br>
    <mat-form-field class="fullWidth">
      <mat-label>Is Closed?</mat-label>
      <input [(ngModel)]="activity.isClosed" name="isClosed" matInput >
    </mat-form-field>
   
  </form>
</mat-card-content>
<mat-card-actions>
  <button *ngIf="activity.activityId" (click)="api.putActivity(activity)" mat-button>EDIT</button>
  <button *ngIf="activity.activityId" (click)="activity = {}" mat-button>NEW</button>
  <button *ngIf="!activity.activityId" (click)="post(activity)" mat-button>POST</button>
</mat-card-actions>
</mat-card>